langchain
langgraph
fastapi
nova-act
langchain-aws
langgraph
langchain-community
pyjwt>=2.10.1
opentelemetry-instrumentation-langchain
aws-opentelemetry-distro~=0.12.1
bedrock-agentcore>=1.1.0
bedrock-agentcore-starter-toolkit>=0.2.0
tavily-python
python-dotenv